<a routerLink="/posts/new">+ Nuevo post</a>
<h1>Posts (LIST)</h1>

<div class="search">
  <input
    type="text"
    [formControl]="searchControl"
    placeholder="Buscar por título o contenido…"
  />
</div>

<ul class="list">
  @for (p of filteredPosts$ | async; track p.id) {
    <li class="item">
      <a [routerLink]="['/posts', p.id]">{{ p.title }}</a>
      <p class="body">{{ p.body }}</p>
    </li>
  } @empty {
    <li>No hay posts</li>
  }
</ul>
<!--
<ul>
  @for (p of posts$ | async; track p.id) {
    <li>
      <a [routerLink]="['/posts', p.id]">{{ p.title }}</a>
    </li>
  } @empty {
    <li>No hay posts</li>
  }
</ul>
-->